.containerr {
    padding: 20px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 5%;
    box-sizing: border-box;
}

.containerr h3 {
    background-image: url("../../../public/images/images/bg-pattern-card.svg");
    color: #000000;
    height: 10vh;
    border-radius: 15px;
    margin-bottom: 3%;
    font-size: 5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.watch-button {
    width: 48%;
    height: 20vh;
    margin: 10px 1%;
    background-image: url("../../../public/images/images/bg-pattern-card.svg");
    color: #000000;
    border-radius: 15px;
    padding: 10px;
    font-size: large;
    box-sizing: border-box;
    filter: brightness(80%); /* تیره‌تر کردن تصویر */ 

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.watch-button:hover {
    color: rgb(209, 0, 0);
    transform: scale(0.75);
    box-shadow: 0 4px 8px rgba(9, 251, 255, 0.732);
    filter: brightness(100%); /* تیره‌تر کردن تصویر */ 
cursor: pointer;
font-size: x-large;

}

/* استایل‌های ریسپانسیو */
@media (max-width: 768px) {
    .watch-button {
        width: 100%;
        height: 15vh;
    }

    .container h3 {
        font-size: 3rem;
    }
}

@media (max-width: 480px) {
    .watch-button {
        height: 12vh;
    }

    .container h3 {
        font-size: 2.5rem;
    }
}
